body {
  /* background-color: #f7fafc; */
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

#navbarIcon {
  height: 30px;
  width: 30px;
  margin-left: 5%;
}

.weatherContainer {
  border: 1px solid #1a202c;
  padding: 5px;

  height: 80%;
  background-color: rgba(31, 41, 55, 255);
}

.weatherContainer:hover {
  box-shadow: 0 0 25px #343a40, 0 0 35px #343a40;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* For tablets and smaller devices */
  #navbarIcon {
    height: 25px;
    width: 25px;
    margin-left: 2%;
  }

  .weatherContainer {
    width: 40%; /* Increase width on smaller screens */
    height: auto; /* Adjust height to auto for better fit */
    padding: 10px; /* Add more padding */
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  #navbarIcon {
    height: 20px;
    width: 20px;
    margin-left: 2%;
  }

  .weatherContainer {
    width: 80%; /* Make weather container larger on very small screens */
    height: auto;
    padding: 15px;
  }
}
