.journalEntryContainer {
  background: black;
}

#dateClicked {
  color: black;

  text-decoration: underline;
}

#journalText {
  width: 75%;
}

.journalContainer {
  width: 80%;
  text-align: center;
}
