h2 {
  text-align: center;
  background: #e4bac1;
  display: inline-block;
}

#dateClicked {
  color: black;
}

.journalContainer {
  text-align: center;

  width: 90%;
}

.calendarContainer {
  text-align: center;

  padding: 1%;
  /* background-color: rgba(31, 41, 55, 255); */
  background-color: #e4bac1;
  width: 90%;
  color: black;
  border: 1px solid rgba(31, 31, 55, 255);
}

#journalText {
  width: 75%;
}
