h2 {
  text-align: center;
  background: #e4bac1;
  display: inline-block;
}

#dateClicked {
  color: black;
}

.journalContainer {
  text-align: center;

  width: 90%;
}

.calendarContainer {
  text-align: center;

  padding: 1%;
  /* background-color: rgba(31, 41, 55, 255); */

  width: 90%;
  color: black;
}

#journalText {
  width: 75%;
}

.calendarCSS {
  margin: auto;
}

.react-calendar {
  background: #e4bac1;
  width: 60%;
  border: 1px solid black;
}
