.newsContainer {
  color: black;
  border: 1px solid #343a40;

  height: 100%;
  /* background-color: rgba(31, 41, 55, 255); */
  background-color: #d8ecfe;
}

.newsTitle{
  padding: 1%;
}

.newsTitle, 
.news1,
.news2,
.news3 {
  /* border: 1px solid rgba(31, 31, 55, 255); */
  padding: 3%;
  text-align: center;
}

.newsTitle, 
.news1,
.news2 {
  border-bottom: 1px solid slategray;
}

.newsHeaders {
  padding: 1%;
}

h5 a {
  /* color: #ffffff; */
  color: black;
}

h5 a:hover {
  color: #004e92;
  text-decoration: underline;
}

a {
  text-decoration: none;
}
