h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.calendarContainer {
  border: 1px solid black;
  padding: 1%;
  background-color: rgba(31, 41, 55, 255);
  width: 80%;
}

.janBtns {
  color: black;
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 13%;
  margin: 0.1em;
}
